<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xmlns:cache="http://www.springframework.org/schema/cache"  
    xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util.xsd">  
  
   
    <context:component-scan base-package="com.appannie"></context:component-scan>  
  

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>  
                <value>jdbc.properties</value>  
            </list>  
        </property>  
    </bean>  
   <!-- different way to configure jdbc.properties
  <context:property-placeholder location="jdbc.properties"/>
  -->
   
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
   		<property name="driverClassName" value="${jdbc.driverClassName.mysql}"/>
        <property name="url" value="${jdbc.url}" />  
        <property name="username" value="${jdbc.username}" />  
        <property name="password" value="${jdbc.password}" />  
  
 
        <property name="initialSize" value="1" />  
        <property name="minIdle" value="1" />  
        <property name="maxActive" value="10" />  
  
      
        <property name="maxWait" value="60000" />  
  
      
        <property name="timeBetweenEvictionRunsMillis" value="60000" />  
  
       
        <property name="minEvictableIdleTimeMillis" value="300000" />  
		</bean>
		 
		 <!--  
		<bean id="GreenplumDAO" class="com.tmg.gemfire.DAOImp.GreenplumDAOImp">
			<property name="dataSource" ref="dataSource" />
		</bean> 
		 
		 
		 <bean id="populateDimTable" class="com.tmg.gemfire.Action.populateDimTable" scope="prototype">
			<property name="gpDaoImp" ref="GreenplumDAO" />
		</bean> 
		 -->
 
</beans>  