<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- auto scan the packages and put them into spring container -->
	<context:component-scan	base-package="com.tmghealth"></context:component-scan>

	<!-- JDBC configuration file -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	
	 <bean id="dataSourceGreenplum" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">  
   		<property name="driverClassName" value="${jdbc.driverClassName.greenplum}"/>
        <property name="url" value="${jdbc.url.greenplum}" />  
        <property name="username" value="${jdbc.username.greenplum}" />  
        <property name="password" value="${jdbc.password.greenplum}" />  
        <property name="initialSize" value="5" />  
        <property name="minIdle" value="1" />  
        <property name="maxTotal" value="10" />  
  
        <!-- connection wait time, unit ms -->  
        <property name="maxWaitMillis" value="60000" />  
  
        <!-- time internal to close idle connection, unit ms -->  
        <property name="timeBetweenEvictionRunsMillis" value="60000" />  
  
        <!--the minimum time a connection can be idle in the connection pool -->  
        <property name="minEvictableIdleTimeMillis" value="300000" />  
	</bean>
	
	
	<bean id="dataSourceGemfireXD" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">  
   		<property name="driverClassName" value="${jdbc.driverClassName.gemfirexd}"/>
        <property name="url" value="${jdbc.url.gemfirexd}" />  
        <property name="username" value="${jdbc.username.gemfirexd}" />  
        <property name="password" value="${jdbc.password.gemfirexd}" />  
  
 
        <property name="initialSize" value="1" />  
        <property name="minIdle" value="1" />  
        <property name="maxTotal" value="10" />   
  
        <!-- connection wait time, unit ms -->  
         <property name="maxWaitMillis" value="60000" />  
  
        <!-- time internal to close idle connection, unit ms -->  
        <property name="timeBetweenEvictionRunsMillis" value="60000" />  
  
        <!--the minimum time a connection can be idle in the connection pool -->  
        <property name="minEvictableIdleTimeMillis" value="300000" />  
	</bean>
	


</beans>  